<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>

<div fxLayout="column" fxLayoutGap="10px" style="padding: 2% 2% 2% 2%">
  <mat-list class="mat-elevation-z8">
    <mat-list-item *ngFor="let task of taskList$ | async">
      <div fxLayout="row" fxLayoutGap="5px">
        <span>{{task}}</span>
        <button mat-raised-button color="warn" (click)="removeTask(task)">Удалить задачу</button>
      </div>
    </mat-list-item>
  </mat-list>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Описание задачи</mat-label>
      <input matInput [(ngModel)]="taskText"/>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addTask()">Добавить задачу</button>
  </div>
</div>
